<div class="container">
	<div *ngIf="detail">

		<div class="card">
			<ul class="list-group list-group-flush">
				<li class="list-group-item">Status : {{detail.status}}</li>
				<li class="list-group-item">Date : {{detail.gameDate}}</li>
			</ul>
		</div>

		<div *ngIf="detail.away && detail.home">
			<div class="card">
				<div class="card bg-secondary">
					<div class="card-header mb-0 text-white">Batting</div>
					<div class="card-block bg-light">
						<div class="row">
							<div class="col-md-6">
								<div class="table-responsive">
									<table class="table">
										<thead>
											<tr>
												<th scope="col">#</th>
												<th scope="col">Name</th>
												<th scope="col">Position</th>
												<th scope="col">Bsr</th>
												<th scope="col">Def</th>
												<th scope="col">OBP</th>
												<th scope="col">SLG</th>
											</tr>
										</thead>
										<tbody>
											<tr *ngFor="let awayActive of detail.away.lineup">
												<td>{{awayActive.battingOrder}}</td>
												<td>{{awayActive.player.name}}</td>
												<td>{{awayActive.player.position}}</td>
												<td>{{getBsrValue(awayActive) | number}}</td>
												<td>{{getDefValue(awayActive) | number}}</td>
												<td>{{getObpValue(awayActive) | number}}</td>
												<td>{{getSluggingValue(awayActive) | number}}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="col-md-6">
								<div class="table-responsive">
									<table class="table">
										<thead>
											<tr>
												<th scope="col">#</th>
												<th scope="col">Name</th>
												<th scope="col">Position</th>
												<th scope="col">Bsr</th>
												<th scope="col">Def</th>
												<th scope="col">OBP</th>
												<th scope="col">SLG</th>
											</tr>
										</thead>
										<tbody>
											<tr *ngFor="let homeActive of detail.home.lineup">
												<td>{{homeActive.battingOrder}}</td>
												<td>{{homeActive.player.name}}</td>
												<td>{{homeActive.player.position}}</td>
												<td>{{getBsrValue(homeActive) | number}}</td>
												<td>{{getDefValue(homeActive) | number}}</td>
												<td>{{getObpValue(homeActive) | number}}</td>
												<td>{{getSluggingValue(homeActive) | number}}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<hr>

			<div class="card">
				<div class="card bg-secondary">
					<div class="card-header mb-0 text-white">Pitching</div>
					<div class="card-block bg-light">
						<div class="row">
							<div class="col-md-6">
								<div class="table-responsive">
									<table class="table">
										<thead>
											<tr>
												<th scope="col">Name</th>
												<th scope="col">OBP</th>
												<th scope="col">SLG</th>
												<th scope="col">GB %</th>
												<th scope="col">Factor</th>
												<th scope="col">Rank</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>{{detail.away.probable.player.name}}</td>
												<td>{{getObpAgainstValue(detail.away.probable) | number}}</td>
												<td>{{getSluggingAgainstValue(detail.away.probable) | number}}</td>
												<td>{{getGbpValue(detail.away.probable) | number}}</td>
												<td>{{getFactorValue(detail.away.probable) | number}}</td>
												<td>{{getRankValue(detail.away.probable) | number}}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="col-md-6">
								<div class="table-responsive">
									<table class="table">
										<thead>
											<tr>
												<th scope="col">Name</th>
												<th scope="col">OBP</th>
												<th scope="col">SLG</th>
												<th scope="col">GB %</th>
												<th scope="col">Factor</th>
												<th scope="col">Rank</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>{{detail.home.probable.player.name}}</td>
												<td>{{getObpAgainstValue(detail.home.probable) | number}}</td>
												<td>{{getSluggingAgainstValue(detail.home.probable) | number}}</td>
												<td>{{getGbpValue(detail.home.probable) | number}}</td>
												<td>{{getFactorValue(detail.home.probable) | number}}</td>
												<td>{{getRankValue(detail.home.probable) | number}}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
