<div class="container">
	<div *ngIf="detail">

		<div class="card">
			<ul class="list-group list-group-flush">
				<li class="list-group-item">Status : {{detail.status}}</li>
				<li class="list-group-item">Date : {{detail.gameDate}}</li>
			</ul>
		</div>

		<div *ngIf="detail.away && detail.home">
			<div class="card">
				<div class="card bg-secondary">
					<div class="card-header mb-0 text-white">Batting</div>
					<div class="card-block bg-light">
						<div class="row">
							<div class="col-md-6">
								<div class="table-responsive">
									<table class="table">
										<thead>
											<tr>
												<th scope="col">#</th>
												<th scope="col">Name</th>
												<th scope="col">:</th>
												<th scope="col">SO%</th>
												<th scope="col">BB%</th>
												<th scope="col">wOBA</th>
												<th scope="col">BsR</th>
												<th scope="col">Def</th>
											</tr>
										</thead>
										<tbody>
											<tr *ngFor="let awayActive of detail.away.lineup">
												<td>{{awayActive.battingOrder}}</td>
												<td>{{awayActive.player.name}}</td>
												<td>{{awayActive.player.position}}</td>
												<td>{{getStrikeOutValue(awayActive) | number}}</td>
												<td>{{getWalkValue(awayActive) | number}}</td>
												<td>{{getObpValue(awayActive) | number}}</td>
												<td>{{getBsrValue(awayActive) | number}}</td>
												<td>{{getDefValue(awayActive) | number}}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="col-md-6">
								<div class="table-responsive">
									<table class="table">
										<thead>
											<tr>
												<th scope="col">#</th>
												<th scope="col">Name</th>
												<th scope="col">:</th>
												<th scope="col">SO%</th>
												<th scope="col">BB%</th>
												<th scope="col">wOBA</th>
												<th scope="col">BsR</th>
												<th scope="col">Def</th>
											</tr>
										</thead>
										<tbody>
											<tr *ngFor="let homeActive of detail.home.lineup">
												<td>{{homeActive.battingOrder}}</td>
												<td>{{homeActive.player.name}}</td>
												<td>{{homeActive.player.position}}</td>
												<td>{{getStrikeOutValue(homeActive) | number}}</td>
												<td>{{getWalkValue(homeActive) | number}}</td>
												<td>{{getObpValue(homeActive) | number}}</td>
												<td>{{getBsrValue(homeActive) | number}}</td>
												<td>{{getDefValue(homeActive) | number}}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<hr>

			<div class="card">
				<div class="card bg-secondary">
					<div class="card-header mb-0 text-white">Pitching</div>
					<div class="card-block bg-light">
						<div class="row">
							<div class="col-md-6">
								<div class="table-responsive">
									<table class="table">
										<thead>
											<tr>
												<th scope="col">Name</th>
												<th scope="col">SO%</th>
												<th scope="col">BB%</th>
												<th scope="col">wOBA</th>
											</tr>
										</thead>
										<tbody>
											<tr *ngIf="detail.away.probable">
											    <td>{{detail.away.probable.player.name}}</td>
												<td>{{getPitchingStrikeOutValue(detail.away.probable) | number}}</td>
												<td>{{getPitchingWalkValue(detail.away.probable) | number}}</td>
												<td>{{getPitchingObpValue(detail.away.probable) | number}}</td>											
											</tr>
											<tr *ngIf="!detail.away.probable">
												<td>None</td>
												<td></td>
												<td></td>
												<td></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="col-md-6">
								<div class="table-responsive">
									<table class="table">
										<thead>
											<tr>
												<th scope="col">Name</th>
												<th scope="col">SO%</th>
												<th scope="col">BB%</th>
												<th scope="col">wOBA</th>
											</tr>
										</thead>
										<tbody>
											<tr *ngIf="detail.home.probable">
												<td>{{detail.home.probable.player.name}}</td>
												<td>{{getPitchingStrikeOutValue(detail.home.probable) | number}}</td>
												<td>{{getPitchingWalkValue(detail.home.probable) | number}}</td>
												<td>{{getPitchingObpValue(detail.home.probable) | number}}</td>
											</tr>
											<tr *ngIf="!detail.home.probable">
												<td>None</td>
												<td></td>
												<td></td>
												<td></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
