<div class="container">
	<div *ngIf="detail">

		<div class="card">
			<ul class="list-group list-group-flush">
				<li class="list-group-item">Status : {{detail.status}}</li>
				<li class="list-group-item">Date : {{detail.gameDate}}</li>
			</ul>
		</div>

		<div class="card">
			<div class="card bg-secondary">
				<div class="card-header mb-0 text-white">Batting</div>
				<div class="card-block bg-light">
					<div class="row">
						<div class="col-md-6">
							<div class="table-responsive">
								<table class="table">
									<thead>
										<tr>
											<th scope="col">#</th>
											<th scope="col">Name</th>
											<th scope="col">Position</th>
											<th scope="col">Bsr</th>
											<th scope="col">Def</th>
											<th scope="col">OBP</th>
											<th scope="col">SLG</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th scope="row">1</th>
											<td>Mark with a crazy long name</td>
											<td>Otto</td>
											<td>@mdo</td>
										</tr>
										<tr>
											<th scope="row">2</th>
											<td>Jacob</td>
											<td>Thornton</td>
											<td>@fat</td>
										</tr>
										<tr>
											<th scope="row">3</th>
											<td>Larry</td>
											<td>the Bird</td>
											<td>@twitter</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="col-md-6">
							<div class="table-responsive">
								<table class="table">
									<thead>
										<tr>
											<th scope="col">#</th>
											<th scope="col">Name</th>
											<th scope="col">Position</th>
											<th scope="col">Bsr</th>
											<th scope="col">Def</th>
											<th scope="col">OBP</th>
											<th scope="col">SLG</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th scope="row">1</th>
											<td>Mark with a crazy long name</td>
											<td>Otto</td>
											<td>@mdo</td>
										</tr>
										<tr>
											<th scope="row">2</th>
											<td>Jacob</td>
											<td>Thornton</td>
											<td>@fat</td>
										</tr>
										<tr>
											<th scope="row">3</th>
											<td>Larry</td>
											<td>the Bird</td>
											<td>@twitter</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<hr>

		<div class="card">
			<div class="card bg-secondary">
				<div class="card-header mb-0 text-white">Pitching</div>
				<div class="card-block bg-light">
					<div class="row">
						<div class="col-md-6">
							<div class="table-responsive">
								<table class="table">
									<thead>
										<tr>
											<th scope="col">#</th>
											<th scope="col">Name</th>
											<th scope="col">GB %</th>
											<th scope="col">Factor</th>
											<th scope="col">Rank</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th scope="row">1</th>
											<td>Mark with a crazy long name</td>
											<td>Otto</td>
											<td>@mdo</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="col-md-6">
							<div class="table-responsive">
								<table class="table">
									<thead>
										<tr>
											<th scope="col">#</th>
											<th scope="col">Name</th>
											<th scope="col">GB %</th>
											<th scope="col">Factor</th>
											<th scope="col">Rank</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th scope="row">1</th>
											<td>Mark with a crazy long name</td>
											<td>Otto</td>
											<td>@mdo</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
